# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) Java

Some of the commonly used libraries used by Data Scientists include: 
1) NumPy
2) ggplot
3) Pandas
4) Matplotlib

| Data Science Tools        |
|---------------------------|
| Jupyter Notebooks         |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
print(2*2)
print(1+1)
print(5-6)

4
2
-1

In [21]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
  * List popular languages for Data Science
  * List commonly used libraries used by Data Scientists
  * convert 200 minutes to hours

## Author
Rubén Cuéllar